.re-dashboard-container {
    display: flex;
    height: 100vh;
  }
 
  
  .re-main-content {
    margin-left: 270px; /* 250px sidebar width + 20px gap */
    padding: 20px;
    width: calc(100% - 270px); /* Adjust width to account for sidebar and gap */
  }
  
  .re-reward-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px; /* Adds vertical spacing between rows */
  }
  
  .re-reward-table th, .re-reward-table td {
    border: 1px solid #ddd;
    padding: 12px 15px; /* Adds padding to table cells */
  }
  
  .re-reward-table th {
    background-color: #f4f4f4;
  }
  
  .re-reward-table tr {
    background-color: #fff;
  }
  
  .re-reward-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .re-reward-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .re-edit-modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
  }
  
  .re-edit-modal h2 {
    margin-top: 0;
  }
  
  .re-edit-modal form {
    display: flex;
    flex-direction: column;
  }
  
  .re-edit-modal label {
    margin-top: 10px;
  }
  
  .re-edit-modal input {
    padding: 8px;
    margin-top: 5px;
  }
  
  .re-edit-modal button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .re-add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .re-add-button:hover {
    background-color: #45a049;
  }
  